body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
}
.navbar{
    box-shadow: 0vw 1px 75px -30px #301900;
    z-index: 100;
    position: fixed;
    background-color: #E5E5E5;
    height: 100px;
    width: 120%;
    margin-top: -2%;
    margin-left: -1%;
    white-space: nowrap;
    display: flexbox;
}

.navbar p{
    display: inline-block;
}
.logo{
    width: 20px;
    display: inline-block;
    margin-top: -1.5%;
    margin-left: 3%;
}

.welcome-msg{
    margin-top: -7%;
    margin-left: 60%;
    width: fit-content;
    font-size: large;
    font-weight: 500;
}
#user{
    color: #db6414;
    font-weight: 700;
}
.logout a{
    margin-left: 77%;
    width: fit-content;
    font-size: large;
    text-decoration: none;
    color: #E87121;
}
.logout{
    margin-top: -2.75%;
}
.navbar a{
    display: inline-block; 
}
.entry_boxes{
    border: 1px solid #000;
    background-color: #E5E5E5;
    font-weight: 500;
    width: 90%;
    border-radius: 15px;
    color: #222222;
    padding: 10px;
    margin: 50px;
}
.flex_box{
    display: flex;
    margin: 10px;
    justify-content: space-between;
}


#heading, #write-entry-heading{
    color: #E87121;
}
.title{
    font-weight: 500;
    color: #000;
}

#heading, #write-entry-heading{
    padding-top: 12%;
}
.entry{
    margin-left: 1%;
}

#submit-button{
    padding: 10px;
    color: #db6414;
}

.date{
    font-weight: 100;
    color: #4e4e4e;
}

.start-head img{
    width: 200px;
}

.start-head h1{
    margin-top: -1%;
    color: #414141;
}
.signup-form, .login-form{
    display: flexbox;
    flex-wrap: wrap;
    width: 20%;
}
.form-field{
    display: flex;
    margin: 3%;
    justify-content: space-between;
    float: left;
    width: 100%;
}
.signup-form button, .login-form button{
    background-color: #E87121;
    color: white;
    border-radius: 5px;
    padding: 2%;
    font-size: large;
    margin-top: 5%;
}
#msg{
    color: green;
    font-weight: 600;
    margin-bottom: 2%;
}
.contact{
    margin-top: 10%;
    width: 120%;
    height: 20px;
    background-color: #E5E5E5;
    color: #E87121;
    font-weight: 600;
    font-size: large;
    margin-bottom: -5%;
    margin-left: -2%;
    padding-bottom: 10%;
    justify-content: space-between;
    display: flex;
    align-items:center;
    align-content: flex-start;
}
.contact div{
    margin-top: 2%;
    margin-bottom: -7%;
    padding-right: 200px;
    padding-left:120px;
    width: 15%;
}

.contact img{
    width: 35%;
}